<div id="content">
	<h1>Trafford Council Supplier Spend</h1>
	
	<p>2010 Q2 (April, May & June)<br>Details of payments to suppliers above £500</p>
	
	<div class="buttons">
		<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftraffordspending.heroku.com&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:360px; height:40px;" allowTransparency="true"></iframe>
		<span><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></span>
	</div>

	<table>
	  <tr>
	    <th>Supplier</th>
	    <th align="right">Amount</th>
	  </tr>

	<% @spends.each_with_index do |spend, i| %>
	<% row_class = i%2 == 0 ? "even" : "odd" %> 
	  <tr class="<%= row_class %>">
	    <td><%= link_to spend.supplier, "http://www.google.co.uk/#hl=en&q="+spend.supplier, :target => "blank" %></td>
	    <td class="amount"><%=h number_to_currency(spend.amount, :unit => "£") %></td>
	  </tr>
	<% end %>
	</table>
	
	<p>Data from <a href="http://www.trafford.gov.uk/opendata/">Trafford Council</a> imported on 16th August 2010
		<br>Built by <a href="http://bobop.co.uk">bobop</a></p>

	<p><a href="http://www.opendatamanchester.org.uk"><img src="images/logo_sq_135.png" border="0"></a></p>
	
</div>